<a href="https://colab.research.google.com/github/PragyaGupta2912/Human-Activity-Recognition/blob/main/har_rfs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [ ]:
!wget "https://drive.google.com/file/d/1-LvLQa3YkHEreZ_VnFLQtUL5A-JO4dSO/view?usp=sharing"

--2022-04-09 08:36:31--  https://drive.google.com/file/d/1-LvLQa3YkHEreZ_VnFLQtUL5A-JO4dSO/view?usp=sharing
Resolving drive.google.com (drive.google.com)... 74.125.24.101, 74.125.24.138, 74.125.24.100, ...
Connecting to drive.google.com (drive.google.com)|74.125.24.101|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://accounts.google.com/ServiceLogin?service=wise&passive=1209600&continue=https://drive.google.com/file/d/1-LvLQa3YkHEreZ_VnFLQtUL5A-JO4dSO/view?usp%3Dsharing&followup=https://drive.google.com/file/d/1-LvLQa3YkHEreZ_VnFLQtUL5A-JO4dSO/view?usp%3Dsharing [following]
--2022-04-09 08:36:31--  https://accounts.google.com/ServiceLogin?service=wise&passive=1209600&continue=https://drive.google.com/file/d/1-LvLQa3YkHEreZ_VnFLQtUL5A-JO4dSO/view?usp%3Dsharing&followup=https://drive.google.com/file/d/1-LvLQa3YkHEreZ_VnFLQtUL5A-JO4dSO/view?usp%3Dsharing
Resolving accounts.google.com (accounts.google.com)... 74.125.130.84, 2404:6800:4003:c11::54
Connecting to accounts.google.com (accounts.google.com)|74.125.130.84|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘view?usp=sharing’

view?usp=sharing        [ <=>                ]  92.58K  --.-KB/s    in 0.005s

2022-04-09 08:36:31 (19.4 MB/s) - ‘view?usp=sharing’ saved [94803]

In [ ]:
!unzip -q "/content/gdrive/My Drive/dataset_har/Dataset.zip"

In [ ]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV, train_test_split

In [ ]:
xtrain=pd.read_table('UCI HAR Dataset/train/X_train.txt',delim_whitespace=True,header=None)
xtest=pd.read_table('UCI HAR Dataset/test/X_test.txt',delim_whitespace=True,header=None)
ytrain=pd.read_table('UCI HAR Dataset/train/y_train.txt',header=None)
ytest=pd.read_table('UCI HAR Dataset/test/y_test.txt',header=None)

In [ ]:
xtrain.head()

,0,1,2,3,4,5,6,7,8,9,...,551,552,553,554,555,556,557,558,559,560
0,0.288585,-0.020294,-0.132905,-0.995279,-0.983111,-0.913526,-0.995112,-0.983185,-0.923527,-0.934724,...,-0.074323,-0.298676,-0.710304,-0.112754,0.030400,-0.464761,-0.018446,-0.841247,0.179941,-0.058627
1,0.278419,-0.016411,-0.123520,-0.998245,-0.975300,-0.960322,-0.998807,-0.974914,-0.957686,-0.943068,...,0.158075,-0.595051,-0.861499,0.053477,-0.007435,-0.732626,0.703511,-0.844788,0.180289,-0.054317
2,0.279653,-0.019467,-0.113462,-0.995380,-0.967187,-0.978944,-0.996520,-0.963668,-0.977469,-0.938692,...,0.414503,-0.390748,-0.760104,-0.118559,0.177899,0.100699,0.808529,-0.848933,0.180637,-0.049118
3,0.279174,-0.026201,-0.123283,-0.996091,-0.983403,-0.990675,-0.997099,-0.982750,-0.989302,-0.938692,...,0.404573,-0.117290,-0.482845,-0.036788,-0.012892,0.640011,-0.485366,-0.848649,0.181935,-0.047663
4,0.276629,-0.016570,-0.115362,-0.998139,-0.980817,-0.990482,-0.998321,-0.979672,-0.990441,-0.942469,...,0.087753,-0.351471,-0.699205,0.123320,0.122542,0.693578,-0.615971,-0.847865,0.185151,-0.043892

In [ ]:
classifier = RandomForestClassifier()

In [ ]:
parameters = {'n_estimators': [10, 100, 1000], 'max_depth': [3, 6, 9], 'max_features' : ['auto', 'log2']}

In [ ]:
model=GridSearchCV(classifier,parameters,n_jobs=-1,cv=4,scoring='accuracy',verbose=4)
model.fit(xtrain.values,ytrain.values.ravel().T)

Fitting 4 folds for each of 18 candidates, totalling 72 fits

GridSearchCV(cv=4, estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'max_depth': [3, 6, 9],
                         'max_features': ['auto', 'log2'],
                         'n_estimators': [10, 100, 1000]},
             scoring='accuracy', verbose=4)

In [ ]:
from sklearn.metrics import accuracy_score
ypred=model.predict(xtest)
accuracy=accuracy_score(ytest,ypred)

In [ ]:
print('Best Parameters: '+ str(model.best_params_))
print('Accuracy Score: '+ str(accuracy*100) + ' %')

Best Parameters: {'max_depth': 9, 'max_features': 'log2', 'n_estimators': 1000}
Accuracy Score: 92.80624363759755 %